@import "tailwindcss";
body {
  font-family: "Inter", system-ui, sans-serif;
}

@theme {
  /* Surfaces */
  --color-bg: #fef2f2; /* page background (soft pink) */
  --color-surface: #ffffff; /* cards */
  --color-border: #b9bcc4; /* neutral borders */
  --color-border-soft: #eeacac; /* subtle pink separators */
  --color-hover-pink: #fee1e1; /* hover on links */
  --color-icon-bg: #475569; /* for icons bg*/
  --color-links-acitve: #f05454; /* when links active */
  --color-wedget-title: #dbd5d8; /* for widget titles*/
}

/* pulse animation */
@layer utilities {
  @keyframes pulse-up {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }

  @keyframes pulse-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
  }

  .animate-pulse-up {
    animation: pulse-up 1.5s ease-in-out infinite;
  }

  .animate-pulse-down {
    animation: pulse-down 1.5s ease-in-out infinite;
  }
}
